/* MovieList.css */
.movie-list {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 35px;
  gap: 35px;
  justify-content: space-between;
}

@media screen and (min-width: 1150px) {
  .movie-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; /*seems to do nothing*/
    align-items: center; /*seems to do nothing*/
    margin-top: 10rem;
    margin-bottom: 35px;
    gap: 35px;
  }
}

.empty_library_message {
  /* display: flex;
  flex-direction: column; */
  color: #fff;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 12rem;
  margin-bottom: 35px;
  gap: 35px;
}

@media screen and (min-width: 1150px) {
  .empty_library_message {
    color: #fff;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 12rem;
    margin-bottom: 35px;
    gap: 35px;
  }
}
