/* MovieList.css */
.movie-list {
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1150px) {
  .movie-list {
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
