/* MovieList.css */
.movie-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 35px;

  justify-content: space-between;
}

@media screen and (min-width: 1150px) {
  .movie-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin-top: 10rem;
    margin-bottom: 25px;
  }
}
