/* Register.css */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-image: url("../../public/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
} */

/* Other global styles... */

.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 30vw;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.4rem;

  @media only screen and (max-width: 320px) {
    width: 80vw;
    height: 90vh;
    hr {
      margin-bottom: 0.3rem;
    }
    h4 {
      font-size: small;
    }
  }
  @media only screen and (min-width: 360px) {
    width: 80vw;
    height: 90vh;
    h4 {
      font-size: small;
    }
  }
  @media only screen and (min-width: 411px) {
    width: 80vw;
    height: 90vh;
  }
  @media only screen and (min-width: 768px) {
    width: 80vw;
    height: 80vh;
  }
  @media only screen and (min-width: 1024px) {
    width: 70vw;
    height: 50vh;
  }
  @media only screen and (min-width: 1280px) {
    width: 30vw;
    height: 80vh;
  }
}

/* @media only screen and (max-width: 320px) {
    .mainContainer, .ButtonContainer, .inputContainer{
        width: 80vw;
        height: 90vh;
        hr {
        margin-bottom: 0.3rem;
        }
        h4 {
        font-size: small;
        }
    }
}
@media only screen and (min-width: 360px) {
    .mainContainer, .ButtonContainer, .inputContainer{
        width: 80vw;
        height: 90vh;
        h4 {
        font-size: small;
        }
    }
}
@media only screen and (min-width: 411px) {
    .mainContainer, .ButtonContainer, .inputContainer{
        width: 80vw;
        height: 90vh;
    }
}
@media only screen and (min-width: 768px) {
    .mainContainer, .ButtonContainer, .inputContainer{
        width: 80vw;
        height: 80vh;
    }
}
@media only screen and (min-width: 1024px) {
    .mainContainer, .ButtonContainer, .inputContainer{
        width: 70vw;
        height: 50vh;
    }
}
@media only screen and (min-width: 1280px) {
    .mainContainer, .ButtonContainer, .inputContainer{
        width: 30vw;
        height: 80vh;
    }
} */

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  width: 100%;
}

.ButtonContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 0;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}

.RegisterText {
  margin: 3rem 0 2rem 0;
  font-size: 1.5rem;
}

.inputBox {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 2rem;
  width: 80%;
  height: 3rem;
  padding: 1rem;
  border: none;
  outline: none;
  color: #413859;
  font-size: 1rem;
  font-weight: bold;
  &:focus {
    display: inline-block;
    box-shadow: 0 0 0 0.2rem #b9abe0;
    backdrop-filter: blur(12rem);
    border-radius: 2rem;
  }
  &::placeholder {
    color: #b9abe099;
    font-weight: 100;
    font-size: 1rem;
  }
}

.RegisterButton,
.RegisterButton:after {
  border-radius: 50px 50px;
  margin: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #d9c0e0 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 3px 3px 3px 3px #ce94de;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.RegisterButton:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "ALTERNATE TEXT";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #d9c0e0 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.RegisterButton:hover {
  cursor: pointer;
}
.RegisterButton:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

.RegisterContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  color: #ce94de;
  font-size: 0.7rem;
  /*margin-top: 10px; 
  margin-bottom: 20px; */
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .RegisterButton,
  .RegisterButton:after {
    width: 160px;
    height: 69px;
    line-height: 71px;
  }
}

.password-icon:hover {
  cursor: pointer;
}
