#session-expired-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #3f3f3fb9;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

#session-expired-message {
  color: #fff;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-bottom: 35px;
}
